*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

@font-face {
    font-family: 'Creepster';
    src: url('./Fonts/Creepster-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lacquer';
    src: url('./Fonts/Lacquer-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    font-family: Lacquer;
    font-size: 24px;
    color: black;
}

body {
    height: 100vh;
    background: url("./Images/BgImage.jpg");
    background-size: cover;
    background-position: center;
}

button {
    padding: 0 0.5em;
    margin: 0 0.5em;
    border-radius: 0.5em;
}

#main {
    width: 70vw;
    margin: 1rem auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#main-title {
    height: 12rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1em;
}

#action-screen {
    min-height: 100vh;
    padding: 3em 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2em;
}

#players-list {
    height: 35vh;
    overflow: auto;
}

#add-player-form {
    display: grid;
    place-items: center;
    gap: 0.2em;
}

input#player-name {
    border-radius: 0.2em;
}

.role-input-group {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 0.5em;
}

.role-input-group>input {
    width: 3ch;
    text-align: right;
}

.vote-list {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5em;
}

.role-action-container {
    height: 100%;
    align-items: center;
}

.role-action {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5em;
}

.spaced-vertical {
    margin: 1em 0;
}

.scary-text {
    font-family: Creepster;
}

.text-l {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 3rem;
}

.text-center {
    text-align: center;
}

.text-red {
    color: crimson;
}

.center {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.center-x {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.focus-view {
    font-size: 3rem;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.focus-view>* {
    font-size: 0.5em;
    text-align: center;
}